/***************************** MOBILE FIRST *****************************/
.nav { width: 20%; height: 200px; }
.main { width: 80%; }
.item { width: 50%; } /* 2 columns */





/***************************** TABLETS *****************************/
@media (min-width: 40em) {
	.item { width: 25%; } /* 4 columns */
}




/***************************** DESKTOPS *****************************/
@media (min-width: 60em) {
	.main-wrap {
		width: 1280px;
		margin: 0 auto;
	}
	.item { width: 20%; } /* 5 columns */
}