/* COLOURS */
/* FONT STACK */
/* base.scss */
/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222; }

html {
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
audio,
canvas,
img,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
@media print, (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
/***************************** MOBILE FIRST *****************************/
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #0a0a0a; }

a {
  text-decoration: none; }

a:link, a:visited {
  color: #00ccff; }

a:hover, a:active {
  color: #00659a; }

.header {
  padding: 3em 0 2em 0;
  position: relative; }
  .header .logo, .header .header-login {
    width: 50%; }
  .header .logo {
    padding-left: 1em; }
  .header .header-login {
    text-align: right;
    position: absolute;
    top: 50%;
    right: 10%; }
    .header .header-login .sign-up-button {
      padding-right: 1em; }
    .header .header-login button {
      padding: 10px 30px;
      color: #000;
      font-weight: 700;
      text-transform: uppercase;
      background-color: white;
      border: 1px solid #000;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      cursor: pointer; }
      .header .header-login button:hover {
        background: #00ccff;
        color: white;
        border: 1px solid #00659a; }
    .header .header-login .log-in-link {
      font-weight: 700; }
    .header .header-login .logged-in {
      color: #d1d1d1;
      position: relative;
      font-size: 0.9em; }
      .header .header-login .logged-in a.profile {
        font-size: 15px;
        font-weight: 700;
        line-height: 20px; }
        .header .header-login .logged-in a.profile:after {
          content: "\25bc";
          display: inline-block;
          width: 14px;
          height: 20px; }
        .header .header-login .logged-in a.profile ul {
          position: absolute;
          bottom: -55px;
          height: 40px;
          right: 0;
          display: none;
          z-index: 999;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 5px;
          background: white;
          list-style: none; }
          .header .header-login .logged-in a.profile ul li {
            line-height: 40px;
            border: #d1d1d1;
            color: #00659a;
            font-size: 1em;
            font-weight: 300; }
        .header .header-login .logged-in a.profile:hover ul, .header .header-login .logged-in a.profile:active ul {
          display: block; }
          .header .header-login .logged-in a.profile:hover ul li:hover, .header .header-login .logged-in a.profile:active ul li:hover {
            color: #d1d1d1; }

.call-to-action {
  background: url(../images/landing_background.png);
  height: 370px;
  overflow: hidden; }
  .call-to-action .call-left {
    width: 60%; }
  .call-to-action .call-right {
    width: 40%;
    padding: 0 2em 2em 2em;
    margin: 0 auto;
    text-align: center; }
    .call-to-action .call-right .box {
      margin: 0 auto;
      text-align: center;
      background: #20bae1;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      width: 100%;
      max-width: 260px;
      padding: 2em;
      color: #00659a; }
      .call-to-action .call-right .box h1, .call-to-action .call-right .box h2, .call-to-action .call-right .box h3 {
        margin: 0;
        padding: 0;
        color: white;
        font-weight: 300; }
      .call-to-action .call-right .box h3 {
        text-align: center;
        font-size: 1em; }
      .call-to-action .call-right .box h1 {
        text-align: center; }
    .call-to-action .call-right .footnote {
      color: white;
      font-size: 75%; }

form.ss {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  color: #00659a; }
  form.ss input, form.ss button {
    text-align: center;
    padding: 10px 15px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 1.5em;
    height: auto;
    margin: 0 !important;
    outline: 0;
    border: none;
    width: 100%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px; }
  form.ss input.invest-money {
    color: #00659a;
    background-color: white; }
  form.ss button.start-now {
    color: white;
    background-color: #00ccff;
    cursor: pointer;
    border: 1px solid #00659a;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset; }

.reasons {
  background: url(../images/reasons.png);
  background-position: center;
  width: 100%;
  height: 269px; }

.landing-bottom {
  background: url(../images/landing_bottom.png);
  background-position: center;
  width: 100%;
  height: 1280px; }

.log-in form {
  max-width: 80%;
  margin: 10px auto;
  padding: 10px 20px;
  background: #fff;
  border-radius: 10px; }
.log-in h1 {
  margin: 0 0 30px 0;
  text-align: center; }
.log-in input[type="text"],
.log-in input[type="password"],
.log-in input[type="date"],
.log-in input[type="datetime"],
.log-in input[type="email"],
.log-in input[type="number"],
.log-in input[type="search"],
.log-in input[type="tel"],
.log-in input[type="time"],
.log-in input[type="url"],
.log-in textarea,
.log-in select {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 30px; }
.log-in input[type="radio"],
.log-in input[type="checkbox"] {
  margin: 0 4px 8px 0; }
.log-in select {
  padding: 6px;
  height: 32px;
  border-radius: 2px; }
.log-in button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #00ccff;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #00659a;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  margin-bottom: 10px; }
.log-in fieldset {
  margin-bottom: 30px;
  border: none; }
.log-in legend {
  font-size: 1.4em;
  margin-bottom: 10px; }
.log-in label {
  display: block;
  margin-bottom: 8px; }
.log-in label.light {
  font-weight: 300;
  display: inline; }
.log-in .number {
  background-color: #00ccff;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  border-radius: 100%; }

.main-menu, .main-investment {
  padding-top: 2em; }

.main-menu {
  width: 20%; }
  .main-menu ul {
    list-style: none; }
    .main-menu ul a {
      color: black; }
      .main-menu ul a.current {
        color: #00ccff; }
      .main-menu ul a:hover, .main-menu ul a:active {
        color: #00ccff; }
      .main-menu ul a li:before {
        content: "\00BB";
        padding-right: 1em; }

.main-investment, .main-about {
  width: 80%; }

.main-investment .inv-box {
  border: 1px solid #d1d1d1;
  position: relative;
  padding: 2em;
  margin: 20px;
  width: 100%;
  font-size: 1.7em; }
  .main-investment .inv-box h1 {
    position: absolute;
    line-height: 40px;
    font-size: 1.5em;
    top: -20px;
    left: -5px;
    margin: 0;
    padding: 0 20px;
    font-weight: 300;
    background: white; }
  .main-investment .inv-box .your-account {
    color: #d1d1d1; }
  .main-investment .inv-box .add-more-box {
    padding-top: 2em; }
  .main-investment .inv-box input.add-more-input, .main-investment .inv-box button.add-more-button {
    border: 1px solid #d1d1d1;
    outline: 0;
    width: 150px;
    padding: 5px 10px;
    font-weight: 100;
    text-align: center;
    font-size: 0.9em; }
  .main-investment .inv-box input.add-more-input {
    background: white;
    color: #d1d1d1; }
  .main-investment .inv-box button.add-more-button {
    background: #00ccff;
    color: #00659a; }
    .main-investment .inv-box button.add-more-button:hover {
      background: #00659a;
      color: white; }
.main-investment .send-to {
  padding-left: 30%;
  font-size: 75%;
  color: #00659a;
  text-align: left; }

.footer-container {
  margin: 0 auto;
  text-align: center; }
  .footer-container .footer, .footer-container .copyright {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-weight: 100;
    color: black; }
  .footer-container .footer {
    font-size: 3em;
    padding: 1em 0;
    font-weight: 300; }
  .footer-container .copyright {
    font-size: 1em;
    padding: 2em 0; }

.w-100 {
  width: 100%; }

.w-16 {
  width: 17.5%;
  text-align: center; }

.w-30 {
  width: 30%; }

.w-70 {
  width: 70%; }

.col-blue {
  color: #00ccff; }

/***************************** TABLETS *****************************/
@media (min-width: 40em) {
  .item {
    width: 25%; }

  /* 4 columns */ }
/***************************** DESKTOPS *****************************/
@media (min-width: 60em) {
  .main-wrap {
    max-width: 1280px;
    margin: 0 auto; } }

.error-msg {
  text-align: center;
  color: #D8000C;
  margin: 10px;
}