/* COLOURS */
/* FONT STACK */
/* base.scss */
/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222; }

html {
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
audio,
canvas,
img,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
@media print, (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
/***************************** MOBILE FIRST *****************************/
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.header .header-login button {
  padding: 10px 15px;
  margin: 20px auto;
  color: #000;
  background-color: white;
  border: 1px solid #000;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  cursor: pointer; }
  .header .header-login button:hover {
    background: #00ccff;
    color: white;
    border: 1px solid #00659a; }

.call-to-action {
  background: url(../images/landing_background.png);
  height: 370px;
  overflow: hidden; }
  .call-to-action .call-left {
    width: 60%; }
  .call-to-action .call-right {
    width: 40%;
    padding: 2em; }
    .call-to-action .call-right .box {
      background: #20bae1;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      width: 100%;
      max-width: 260px;
      padding: 2em;
      margin: 0em 2em 0em 0em; }
      .call-to-action .call-right .box h1, .call-to-action .call-right .box h2, .call-to-action .call-right .box h3 {
        margin: 0;
        padding: 0;
        color: white; }
      .call-to-action .call-right .box h2 {
        font-weight: 300; }
      .call-to-action .call-right .box h3 {
        text-align: right;
        font-size: 1em; }
      .call-to-action .call-right .box h1 {
        text-align: center; }
      .call-to-action .call-right .box form {
        width: 100%;
        margin: 0 auto;
        padding: 0 20px;
        color: #00659a; }
        .call-to-action .call-right .box form input, .call-to-action .call-right .box form button {
          text-align: center;
          padding: 10px 15px;
          box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
          font-family: "Lato", Helvetica, Arial, sans-serif;
          font-weight: 300;
          font-size: 1.5em;
          height: auto;
          margin: 0 !important;
          outline: 0;
          border: none;
          width: 100%;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          border-radius: 10px; }
        .call-to-action .call-right .box form input.invest-money {
          color: #00659a;
          background-color: white; }
        .call-to-action .call-right .box form button.start-now {
          color: white;
          background-color: #00ccff;
          cursor: pointer; }
    .call-to-action .call-right .footnote {
      color: white;
      font-size: 75%;
      padding-left: 2em; }

.landing-bottom {
  background: url(../images/landing_bottom.png);
  height: 1280px; }

.log-in form {
  max-width: 80%;
  margin: 10px auto;
  padding: 10px 20px;
  background: #fff;
  border-radius: 10px; }
.log-in h1 {
  margin: 0 0 30px 0;
  text-align: center; }
.log-in input[type="text"],
.log-in input[type="password"],
.log-in input[type="date"],
.log-in input[type="datetime"],
.log-in input[type="email"],
.log-in input[type="number"],
.log-in input[type="search"],
.log-in input[type="tel"],
.log-in input[type="time"],
.log-in input[type="url"],
.log-in textarea,
.log-in select {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 30px; }
.log-in input[type="radio"],
.log-in input[type="checkbox"] {
  margin: 0 4px 8px 0; }
.log-in select {
  padding: 6px;
  height: 32px;
  border-radius: 2px; }
.log-in button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #00ccff;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #00659a;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  margin-bottom: 10px; }
.log-in fieldset {
  margin-bottom: 30px;
  border: none; }
.log-in legend {
  font-size: 1.4em;
  margin-bottom: 10px; }
.log-in label {
  display: block;
  margin-bottom: 8px; }
.log-in label.light {
  font-weight: 300;
  display: inline; }
.log-in .number {
  background-color: #00ccff;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  border-radius: 100%; }

/***************************** TABLETS *****************************/
@media (min-width: 40em) {
  .item {
    width: 25%; }

  /* 4 columns */ }
/***************************** DESKTOPS *****************************/
@media (min-width: 60em) {
  .main-wrap {
    max-width: 1280px;
    margin: 0 auto; }

  .header {
    padding: 3em 0 1em 0; }
    .header .logo, .header .header-login {
      width: 50%; }
    .header .header-login {
      text-align: right; }

  .item {
    width: 20%; }

  /* 5 columns */ }
