<div class="main-wrap header block-group">
    <div class="logo block">
		<a href="http://localhost:8080/#/"><img src="images/logo.png" alt="InvestUs" /></a>
    </div>	
    <div class="header-login block">
		<a href="#/login"><button>Log in</button></a>
    </div>
</div>

<div class="block-group">
	<div class="block">
		<div class="main-wrap call-to-action block-group">
			<div class="call-left block">&nbsp;</div>
			<div class="call-right block">
				<div class="box">
					<h2>You invest</h2>
					<form>
						<input class="invest-money" placeholder="100" />
					</form>
					<h3> per month and get<span style="vertical-align:super; font-size:75%">*</span></h3>
					<h1>55€</h1>
					<form>
						<a href="#/login"><button class="start-now">Start now</button></a>
					</form>
				</div>
				<span class="footnote">*by investing every month 100€ for 5 years</span>
			</div>
		</div>
	</div>
</div>

<div class="main-wrap block-group">
	<div class="landing-bottom block">LOL
	</div>
</div>