
<div class="block-group">
	<div class="block">
		<div class="main-wrap call-to-action block-group">
			<div class="call-left block">&nbsp;</div>
			<div class="call-right block">
				<div class="box" ng-controller="CallToActionCtrl">

					<h2>Every month you invest</h2>
					<form class="ss">
						<input class="invest-money" ng-model="monthlyInvestment" />for 5 years
					</form>
					<h3> and gain</h3>
					<h1>{{investUsCalcResults}}€</h1>
					<form>
						<button class="start-now" ng-click="startNow()">Start now</button>
					</form>
					You could save an average of {{calcResults}}€ vs your bank. <a href="/">+How?</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="main-wrap block-group">
	<div class="reasons block">&nbsp;
	</div>
</div>
<div class="main-wrap block-group">
	<div class="landing-bottom block">&nbsp;
	</div>
</div>
<div class="main-wrap block-group">
	<div class=" block" style="text-align: center; margin-top: 1em;">
		<form class="ss">
			<button class="start-now" style="width: 180px;" ng-click="startNow()">Invest now</button>
		</form>
	</div>
</div>
