
<div class="block-group">
	<div class="block">
		<div class="main-wrap call-to-action block-group">
			<div class="call-left block">&nbsp;</div>
			<div class="call-right block">
				<div class="box" ng-controller="CallToActionCtrl">
					<h2>You invest</h2>
					<form>
						<input class="invest-money" ng-model="monthlyInvestment" />per month for 5 years
					</form>
					<h3> and you could gain</h3>
					<h1>{{calcResults}}€</h1>
					<h3>with InvestUs</h3>
					<form>
						<button class="start-now" ng-click="startNow()">Start now</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="main-wrap block-group" ng-controller="FooterCtrl">
	<div class="landing-bottom block">&nbsp;</div>
	<!--<div d3-bars data="data" bar-height="20" bar-padding="5"></div>-->
</div>