
<div class="block-group">
	<div class="block">
		<div class="main-wrap log-in block-group">
			<form ng-submit="logIn()">
      
		        <h1>Log in as existing user</h1>
		        
		        <fieldset>
		          <label for="mail">Email:</label>
		          <input type="email" id="mail" name="user_email" ng-model="authData.username">
		          
		          <label for="password">Password:</label>
		          <input type="password" id="password" name="user_password" ng-model="authData.password">
		        </fieldset>
		        
		        <button type="submit">Log in</button>
		      </form>
		</div>
	</div>
</div>