<div class="block-group">
    <div class="block">
        <div class="main-wrap log-in block-group">
            <form action="index.html" method="post">

                <h1>Sign up</h1>

                <fieldset>
                    <legend><span class="number">1</span>Your basic info</legend>
                    <label for="name">Name:</label>
                    <input ng-model='name' type="text" id="name" name="user_name">

                    <label for="mail">Email:</label>
                    <input ng-model='name' type="email" id="mail" name="user_email">

                    <label for="password">Password:</label>
                    <input ng-model='name' type="password" id="password" name="user_password">

                    <label for="password_confirmation">Password confirmation:</label>
                    <input ng-model='name' type="password_confirmation" id="password" name="user_password_confirmation">

                    <label>Age:</label>
                    <input ng-model='name' type="radio" id="over_18" value="over_18" name="user_age"><label for="over_18" class="light">18 or older</label><br>
                    <input ng-model='name' type="radio" id="under_18" value="under_18" name="user_age"><label for="under_18" class="light">Under 18</label><br>
                </fieldset>

                </fieldset>
                <button type="submit">Sign Up</button>
            </form>
        </div>
    </div>
</div>