<div class="main-wrap block-group">
    <div class="main-menu block">
        <ul>
            <a ui-sref="about">
                <li>About</li>
            </a>
        </ul>
    </div>
    <div class="main-about block-group">
        <div class="block">
            <h1>InvestUs is not yet available!</h1>

            <h3>Sorry!</h3>

            <p>
                InvestUs is a small group of people with a vision to reimagine investing in US stocks for foreign countries.
                <br /><br />
                Our services are not yet available to public but we will remember to contact you if anything changes!
                <br /><br />
                Please take a look at <a ui-sref="about">about</a> and remember to share use with your friends.
                <br /><br />
                All the best,<br />
                InvestUs team
            </p>
        </div>
    </div>
</div>